@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
   --text: #545454;
}

@theme inline {
   --font-Linden_Hill: var(--font-Linden_Hill);
   --font-Quattrocento_Sans: var(--font-Quattrocento_Sans);
   --font-Andada: var(--font-Andada);
   --color-light-green: #86efac;
   --color-primary: #061b1f;
   --color-announcementBar: #a4e9d5;
   --color-whatsapp: #16a34a;
   --color-footer: #3d3d3b;
   --color-background: #0a1e14;
}

body {
   background: var(--foreground);
   color: var(--background);
   font-family: var(--font-Quattrocento_Sans);
   color: var(--text);
}

.parallex {
   background-attachment: fixed;
}

/* @layer base {
   * {
      @apply border-border outline-ring/50;
   }
   body {
      @apply bg-background text-foreground;
   }
   html {
      @apply font-sans;
   }
} */
