@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
   --text: #3e3e3e;
}

@theme inline {
   --font-Linden_Hill: var(--font-Linden_Hill);
   --font-Quattrocento_Sans: var(--font-Quattrocento_Sans);
   --font-Andada: var(--font-Andada);
   --color-primary: #7493bb;
   --color-whatsapp: #16a34a;
   --color-footer: #323232;
   --color-cta: #4e4e4e;
   --color-navy_blue: #192b3b;
}

body {
   background: var(--foreground);
   color: var(--background);
   font-family: var(--font-Quattrocento_Sans);
   color: var(--text);
}

.parallex {
   background-attachment: fixed;
}
