@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
   --text: #3e3e3e;
}

@theme inline {
   --font-Linden_Hill: var(--font-Linden_Hill);
   --font-Quattrocento_Sans: var(--font-Quattrocento_Sans);
   --font-Andada: var(--font-Andada);
   --color-light-green: #86efac;
   --color-primary: #7a9e7e;
   --color-announcementBar: #a4e9d5;
   --color-whatsapp: #16a34a;
   --color-footer: #3d3d3b;
   --color-background: #0a1e14;
}

body {
   background: var(--foreground);
   color: var(--background);
   font-family: var(--font-Quattrocento_Sans);
   color: var(--text);
}

.parallex {
   background-attachment: fixed;
}
